@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/responsive.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

* {
  box-sizing: border-box;
  line-height: 1.2;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #2e363e;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--yellow-100);
}

main {
  background-color: white;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: 110px;
  padding: 8px 0 80px 0;
  overflow: scroll;
  width: 100%;
  max-width: 768px;
  height: 100vh;
}

.wrapper-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.friends-screen,
.more-screen {
  top: 200px;
}

.wrapper-top {
  position: fixed;
  top: 0;
  height: 300px;
  width: 100%;
  max-width: 768px;
  z-index: 0;
}
