#chat-screen .user-component__avatar {
  margin-right: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in {
  animation: fadeIn 0.6s ease both;
}
.fade-in:nth-child(2) {
  animation-delay: 0.1s;
}
.fade-in:nth-child(3) {
  animation-delay: 0.2s;
}
.fade-in:nth-child(4) {
  animation-delay: 0.3s;
}
.fade-in:nth-child(5) {
  animation-delay: 0.4s;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  margin: 0.75rem 0;
  padding: 0.675rem 1rem;
  text-align: center;
  background-color: var(--salmon-100);
  border-radius: 1.5rem;
  color: white;
  font-size: 0.875rem;
}

.message-row {
  padding: 0.75rem var(--horizontal-space);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.message__author {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0.5rem;
  display: block;
}

.message__info {
  display: flex;
  flex-direction: column;
}

.message__bubble {
  font-size: 1.5rem;
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--salmon-100);
  line-height: 1.4;
  display: inline-block;
  max-width: 280px;
}

.message__time {
  color: var(--grey-subtitle);
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
}

.message-row-myself {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.message-row-myself .message__bubble {
  color: #31474f;
  border-radius: 1rem 0 1rem 1rem;
  margin-left: 4px;
  text-align: right;
}

.message-row-myself .message__time {
  text-align: right;
}

.message-field {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 768px;
  background-color: var(--primary-100);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.message-field .message-field__column:first-child {
  width: 48px;
}

.message-field .message-field__column:last-child {
  width: 100%;
  position: relative;
}

.message-field input {
  width: 100%;
  border: none;
  padding: 1.25rem 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  transition: all 0.4s ease;
  background-color: transparent;
  color: white;
}

.message-field input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.message-field__column:last-child > img,
.message-field__column:last-child button {
  position: absolute;
  right: -16px;
  top: -8px;
}

.message-field__column:last-child > img {
  right: 80px;
  top: 14px;
}

.message-field__column:last-child button {
  width: 73px;
  height: 130%;
  border: none;
  background-color: var(--salmon-100);
}

.message-field .message-field__column:first-child,
.message-field .message-field__column > img,
.message-field .message-field__column button {
  transition: all 0.4s ease;
}

.message-field:focus-within .message-field__column:first-child,
.message-field:focus-within .message-field__column > img {
  opacity: 0;
}

.message-field:focus-within input {
  width: 100%;
  transform: translateX(-40px);
}
