.friends-screen__channel {
  margin-top: 1rem;
}

.friends-screen__channel-header {
  padding: 0 var(--horizontal-space);
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--grey-subtitle);
}
