.suggestions {
  margin: 0 var(--horizontal-space);
  padding-top: var(--horizontal-space);
  border-top: var(--light-border);
}

.suggestions__header {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--grey-subtitle);
}

.suggestions-icons span {
  color: var(--grey-subtitle);
}

.suggestions-icons img {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.suggestions__now__imgs {
  display: flex;
  height: 260px;
  overflow-x: scroll;
  border-radius: 16px;
  margin: var(--horizontal-space);
}

.suggestions__now__imgs img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 16px;
}

.suggestions__now__swipe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestions__now__swipe-dot {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: var(--primary-20);
  border-radius: 50%;
  margin-bottom: var(--horizontal-space);
}

.suggestions__now__swipe-dot:first-child {
  background-color: var(--primary-100);
}

.weather__sun {
  animation: sunAnimation 6s linear infinite;
}

@keyframes sunAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
