.alt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 16px 24px 16px;
  position: fixed;
  width: 100%;
  max-width: 768px;
  top: 0;
  box-sizing: border-box;
  background-color: var(--yellow-100);
}

#chat-screen .alt-header {
  background-color: var(--yellow-100);
}

.alt-header__title {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
}

.alt-header__cloumn {
  width: 33%;
}

.alt-header__cloumn img {
  width: 24px;
  height: 24px;
}

.alt-header__cloumn:last-child {
  display: flex;
  justify-content: right;
}

.alt-header__cloumn:last-child img {
  margin-left: 1.5rem;
}
