@media screen and (max-width: 680px) {
  #responsive {
    display: none;
  }
  .status-bar {
    display: none;
  }

  .screen-header {
    padding: 24px;
  }
  .alt-header {
    padding: 24px 16px;
  }

  .friends-screen,
  .more-screen {
    top: 160px !important;
  }

  main {
    top: 72px !important;
  }
}

@media screen and (min-width: 681px) {
  .message-row {
    padding: 0.75rem 2.5rem !important;
  }
}
