.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  background-color: var(--yellow-100);
  z-index: 1;
  /* justify-content: space-between; */
}

.status-bar__column:first-child {
  display: flex;
  align-items: center;
}

.status-bar__column:last-child {
  display: flex;
  align-items: center;
}

.status-bar__column span,
.status-bar__column img {
  margin-right: 4px;
}

.icon__battery {
  margin-right: 0 !important;
}

span,
i {
  font-size: 14px;
  margin: 0 2px;
}
