.user-component {
  justify-content: space-between;
  margin: 0 8px;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.user-component,
.user-component__column {
  display: flex;
  align-items: center;
}

.main-screen .user-component {
  padding: 1rem;
  cursor: pointer;
}

.friends-screen .user-component,
.main-screen .user-component {
  transition: background-color 0.4s ease;
  border-radius: 16px;
}

.friends-screen .user-component:hover,
.friends-screen .user-component:focus-within,
.main-screen .user-component:hover,
.main-screen .user-component:focus-within {
  background-color: var(--primary-5);
}

.user-component__avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-component__avatar--xxl {
  width: 72px;
  height: 72px;
  margin-right: 0;
}

.user-component__avatar--xl {
  width: 56px;
  height: 56px;
}

.user-component__avatar--sm {
  width: 40px;
  height: 40px;
}

.user-component__title {
  font-size: 1rem;
  font-weight: 600;
}

.user-component__title--400 {
  font-weight: 400;
}

.user-component__subtitle {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.4);
}

.user-component__column:nth-child(2) {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
}

.user-component__column span {
  margin-right: 4px;
}

.user-component__column-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.user-component__phone {
  display: flex;
  align-items: center;
  position: relative;
}

.user-component__phone .warning {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid tomato;
  color: tomato;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  position: absolute;
  bottom: 0;
  right: -20px;
}

.user-component__phone .warning span {
  font-size: 12px;
  margin-left: 4px;
}

.user-component__more-info {
  background: var(--primary-5);
  color: var(--primary-100);
  padding: 12px;
  border-radius: 24px;
}

.user-component__column .dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 4px;
}

.user-component__column .dot {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 50%;
  margin: 0;
  background-color: var(--primary-100);
  animation: dotAnimation 1s ease both infinite;
}

.user-component__column .dot:nth-child(2) {
  animation-delay: 0.1s;
}
.user-component__column .dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes dotAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}
